.idea/

algorithms/cosine_similarity.py~
algorithms/euclidean_distance.py~
algorithms/pearson_correlation.py~
algorithms/recommend.py~

recommender.py~
recommendation_engine.py~
recommender.pyc
recommendation_engine.pyc

models.py~
models.pyc


static/
templates/
